<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout charset="utf-8"  pattern="%d{yyyy-mm-dd  HH:mm:ss} %c  %p:%msg  %n" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
     <Logger name="com.cxh" level="info" additivity="false">
     	<AppenderRef ref="Console"/>
   	 </Logger>
  </Loggers>
</Configuration>